# Python bytecode
*.pyc
__pycache__/

# VS Code settings
.vscode/

# Virtual environment
env310/
venv/
.env
.env.*

# Django database
db.sqlite3

# Django migrations (optional to ignore)
# Media files
media/
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py
__pycache__/
*.pyc
venv/
env/

# MacOS / Windows system files
.DS_Store
Thumbs.db
